/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
  --accent: rgb(42, 59, 46);
  --baseAnimationSpeed: 0.4s;
  --background: #e8f9f0;
  --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --radius: 0.4rem;
}

body {
  font-family: "Inter", sans-serif;
  margin: auto;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  max-width: 65ch;
  text-align: left;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 249, 240, 1) 80%,
    rgba(232, 249, 240, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 249, 240, 1) 80%,
    rgba(232, 249, 240, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 249, 240, 1) 80%,
    rgba(232, 249, 240, 1) 100%
  );

  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.2;
  color: #999;
}
.background-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  transition-duration: 4s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  z-index: -1;

  @media (min-width: 768px) {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}

.background-grid-item {
  /* transition-duration: 11497ms !important; */
  width: 100px;
  height: 100px;

  /* filter: blur(10px); */
}
.background-grid-item:hover {
  border: 1px dashed #e8f9f0;
  background-color: #e8f9f0;
  transition-duration: 0ms !important;
}

h1 {
  font-size: 2.4rem !important;
  font-family: "Inter", monospace;
  font-weight: 800 !important;
}
h2 {
  font-size: 1.3rem !important;
  font-family: "Inter", monospace;
  font-weight: 600;
}
h3 {
  font-size: 1.1rem !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #222;
}

textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 2.1;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px dashed #999;
  color: #222;
  padding: 4px 20px 4px 20px;
  margin: 0px;
  font-style: italic;
  background-color: white;
}
.container {
  min-height: 100vh;
}
p {
  line-height: 1.8;
  color: #353535;
}
.animate {
  animation: animate-background 0.4s linear;
}
@keyframes animate-background {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.animate-line {
  animation: animate-width 0.4s ease-in forwards;
}
@keyframes animate-width {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}
nav {
  margin-top: 7vh;
  text-align: right;
}
.notif-circle {
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--accent);
  rotate: 45deg;
  transition-duration: var(--baseAnimationSpeed);
}

.notif-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
