---
import Layout from "../layouts/BlogPost.astro";
import HeaderLink from "../components/HeaderLink.astro";
---

<Layout
  title="So you want to get to know me better, cool !"
  description="I'm a software engineer and entrepreneur based in Kosovo. I'm passionate about technology and its impact on society."
  pubDate={new Date("June 18 2023")}
  updatedDate={new Date("June 21 2024")}
>
  <p>
    Currently, I hold the position of CEO at Kosovo's first digital pharmacy,
    though my background extends a decade back as a developer specializing in
    web and generative art. Over the years, I've gathered a myriad of
    experiences and ideas that have shaped my perspective.
  </p>

  <p>
    Having witnessed the resilience of my home country, post-war Kosovo, I've
    adopted a similar spirit of determination in my work. One of my primary
    objectives is to digitize the pharmacy sector in Kosovo, contributing to its
    transformation and advancement.
  </p>

  <p>
    While the main purpose of this blog is to share my experiences and thoughts,
    it's also a platform for me to refine my writing skills. The goal is to
    articulate my ideas more effectively and naturally, promoting a style that
    is both concise and compelling.
  </p>

  <p>
    The content here is as dynamic as my interests, ranging from insights on
    technological trends to contemplative musings on life's complexities. This
    blog aims to provoke thought and stimulate discussion.
  </p>
</Layout>
