---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import HeaderLink from "../components/HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
    <style>
      b {
        color: var(--accent);
      }
      .gradient-border {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 40vh;
        z-index: 0;
        pointer-events: none;
      }
      .tooltip {
        position: relative;
        display: inline-block;
        font-size: 1.1rem !important;
        font-weight: 600 !important;
      }
      .avatar-img {
        width: 70px;
        height: 70px;
        object-position: bottom;
        border-radius: 50%;
        margin-left: 20px;
        object-fit: cover;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        border: 3px solid white;
        @media (min-width: 768px) {
          width: 80px;
          height: 80px;
        }
      }
      /* Tooltip text */
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 250px;
        background-color: var(--background);
        border: 1px dotted var(--background);
        color: var(--accent);
        padding: 15px 15px;
        top: 80%;
        opacity: 0.9;
        color: var(--accent);
        border: 1px dashed var(--accent);
        position: absolute;
        z-index: 1;
        font-size: 0.8rem;
        transition-duration: 400ms;
        opacity: 0;
        transform: translateY(10px);
      }

      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
        transition-duration: 400ms;
        transform: translateY(0px);
      }
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        overflow: hidden;
        z-index: 1;
        height: 100vh !important;
        padding-inline: 4px;
        overflow-y: hidden;
      }
      .animate {
        animation: animate-background 0.6s linear;
      }
      .flex {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        padding-bottom: 0px;
        align-items: center;
      }
      @keyframes animate-background {
        0% {
          opacity: 0%;
        }
        50% {
          opacity: 50%;
        }
        100% {
          opacity: 100%;
        }
      }
    </style>
    <script>
      function sleep(ms: number) {
        return new Promise((resolve) => setTimeout(resolve, ms));
      }
      for (let i = 0; i < 1500; i++) {
        const gridItem = document.getElementById(
          `grid-item-${(Math.random() * 450).toFixed(0)}`,
        );
        if (!gridItem) continue;
        // #e8f9f0
        gridItem.style.transitionDuration = "100ms";
        gridItem.style.backgroundColor = `hsl(148, 59%, ${
          85 + Math.random() * 10
        }%)`;
        await sleep(250);
        gridItem.style.transitionDuration = "11400ms";

        gridItem.style.backgroundColor = ``;
      }
    </script>
  </head>
  <body>
    <div class="background-grid">
      {
        Array.from({ length: 40 }).map((_, i) => (
          <div class="background-grid-item" id={`grid-item-${i}`} />
        ))
      }
    </div>
    <div class="gradient-border"></div>
    <main class="main">
      <div
        style="display: flex; flex-direction: row; justify-content: end; padding-bottom: 0px; align-items: center; width: 100%;"
      >
        <img src="/eror.jpg" class="avatar-img" />
      </div>
      <div class="animate">
        <p class="tooltip">
          Tung

          <span class="tooltiptext">
            Albanian abvr of tungjatjéta; used as a greeting with the meaning
            "live long!".</span
          >
        </p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-info"
          ><circle cx="12" cy="12" r="10"></circle><path d="M12 16v-4"
          ></path><path d="M12 8h.01"></path></svg
        >
      </div>
      <div class="animate">
        <p class="animate">
          I'm <HeaderLink href="/about"><b>Eror Saini</b></HeaderLink>, a
          <HeaderLink href="/work">
            <b>developer</b>
          </HeaderLink>, and the founder of <HeaderLink
            href="https://ebarnatorja.com"
          >
            <b>eBarnatorja</b>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide-arrow-up-right-square"
              ><rect width="18" height="18" x="3" y="3" rx="2"></rect><path
                d="M8 8h8v8"></path><path d="m8 16 8-8"></path></svg
            >
          </HeaderLink>, Kosovo's first digital pharmacy.

          <p class="animate">
            I occasionally <HeaderLink href="/blog">
              <b>blog</b>
            </HeaderLink> to challenge myself to write more and to document my thoughts
            and ideas for posterity.
          </p>
        </p>
        <div class="flex">
          <Header title={SITE_TITLE} />
        </div>
      </div>
    </main>
  </body>
</html>
