---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="animate">
    <HeaderLink href="https://github.com/erosai" target="_blank">
      Linkedin
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        height="14"
        width="12"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-up-right"
        ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
      >
    </HeaderLink>
    <HeaderLink href="https://github.com/erosai" target="_blank">
      GitHub
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        height="14"
        width="12"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-up-right"
        ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
      >
    </HeaderLink>
  </nav>
</header>
<style>
  nav {
    display: flex;
    justify-content: end;
    gap: 1rem;
    align-items: center;
  }

  a {
    font-size: 0.9rem !important;
    font-weight: 600 !important ;
  }
</style>
