---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
    opacity: 0.8;
    font-weight: 500;
    font-size: 1rem !important;
    color: rgb(0.8, 40.8, 10.8);
  }

  a:hover {
    opacity: 1;
    tex-decoration: underline;
    transition-duration: var(--baseAnimationSpeed);
  }
  a.active {
    font-weight: 600;
    text-decoration: underline;
    font-size: 1rem !important;
  }
  a:visited {
    color: var(--accent) !important;
    text-decoration: underline !important;
    font-size: 1rem;
  }
</style>
